In [6]:
import pandas as pd
data ={
    'hello':[1,2,3,4],
    'Note':[5,3,4,6]
}
x = pd.DataFrame(data)
# x.head(2)
x.describe()

          hello      Note
count  4.000000  4.000000
mean   2.500000  4.500000
std    1.290994  1.290994
min    1.000000  3.000000
25%    1.750000  3.750000
50%    2.500000  4.500000
75%    3.250000  5.250000
max    4.000000  6.000000