In [16]:
import pandas as pd
import csv
df = pd.read_csv('dataset/year2017.csv')

df.head(19)
df.drop(0)
df['let_col'] = 1
df.head()
del df['Unnamed: 16']
del df['Unnamed: 17']
del df['Unnamed: 18']
del df['Unnamed: 19']
df.head()

,Year,Month,Day,Country,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Group,Target_type,Weapon_type,casualities,let_col
0,2017,1,2,Afghanistan,South Asia,Takhta Pul,31.320556,65.961111,Hostage Taking (Kidnapping),0,0,Construction Workers,Taliban,Business,Firearms,0,1
1,2017,1,3,Sudan,Sub-Saharan Africa,Fantaga,12.921007,24.318324,Armed Assault,2,0,"""Civilians: Haroun Yousif","Hamid Ibrahim""",Unknown,Private Citizens & Property,Firearms,1
2,2017,1,1,Democratic Republic of the Congo,Sub-Saharan Africa,Saboko,1.452372,29.875162,Armed Assault,7,0,Village,Allied Democratic Forces (ADF),Private Citizens & Property,Melee,7,1
3,2017,1,1,Democratic Republic of the Congo,Sub-Saharan Africa,Bialee,1.45237,29.875186,Armed Assault,7,0,Village,Allied Democratic Forces (ADF),Private Citizens & Property,Melee,7,1
4,2017,1,1,Turkey,Middle East & North Africa,Istanbul,41.106178,28.689863,Armed Assault,39,69,Nightclub,Islamic State of Iraq and the Levant (ISIL),Business,Firearms,108,1